@font-face {
  font-family: "Book Antiqua";
  src: url("../assets/fonts/BKANT.TTF") format("TTF"); }

header div.logo {
  background-color: #252121;
  height: 187px; }
  header div.logo img {
    float: right;
    margin-right: -23px; }
    header div.logo img.mob-logo {
      display: none; }
  header div.logo .col-sm-6 {
    margin-top: 47px;
    padding: 0; }
  header div.logo h1, header div.logo h2 {
    color: #fff;
    font-family: "Book Antiqua";
    padding-left: 38px; }
  header div.logo h1 {
    font-size: 20px;
    letter-spacing: 5.8px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 11px;
    margin-bottom: 0; }
  header div.logo h2 {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 5.5px;
    margin-top: 2px; }

header .menus {
  display: block; }
  header .menus div.primary-menu {
    background-color: #fff; }
    header .menus div.primary-menu ul {
      padding: 0; }
      header .menus div.primary-menu ul li {
        float: left;
        list-style: none;
        width: calc( 100% / 6);
        padding: 15px 15px;
        text-align: center; }
        header .menus div.primary-menu ul li a {
          text-transform: uppercase;
          color: #000;
          font-size: 13px;
          font-family: "Roboto", sans-serif;
          letter-spacing: 3px;
          text-decoration: none; }
  header .menus div.language {
    background-color: #252121; }
    header .menus div.language ul {
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
      margin-left: -25px;
      padding-left: 66px; }
      header .menus div.language ul li {
        float: left;
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px; }
        header .menus div.language ul li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
          font-family: "Roboto", sans-serif;
          letter-spacing: 3px;
          margin: 0 4px; }
          header .menus div.language ul li a::after {
            content: " / ";
            color: #666;
            font-weight: 100; }
        header .menus div.language ul li:last-child a::after {
          content: ""; }

header.scroll-down {
  position: fixed;
  z-index: 99999;
  width: 100%; }
  header.scroll-down div.logo {
    height: 0; }
    header.scroll-down div.logo div.logo-img {
      width: 100%;
      position: absolute; }
      header.scroll-down div.logo div.logo-img img {
        position: absolute;
        left: calc(50% - 40px);
        width: 40px;
        top: -18px; }
    header.scroll-down div.logo div.logo-title {
      display: none; }
  header.scroll-down div.primary-menu {
    background-color: #252121; }
    header.scroll-down div.primary-menu ul li {
      width: calc( 100% / 7);
      padding: 32px 10px; }
      header.scroll-down div.primary-menu ul li:nth-child(4) {
        margin-left: calc( 100% / 7); }
      header.scroll-down div.primary-menu ul li a {
        color: #fff;
        font-size: 11px; }
  header.scroll-down div.language {
    display: none; }

@media (max-width: 1200px) {
  header {
    position: fixed;
    z-index: 99999;
    width: 100%; }
    header div.logo {
      height: 78px; }
      header div.logo .logo-img {
        width: 100%;
        margin-top: 5px; }
        header div.logo .logo-img img {
          float: none;
          height: 70px !important; }
          header div.logo .logo-img img.mob-logo {
            display: block;
            margin: 0 auto; }
          header div.logo .logo-img img.desc-logo {
            display: none; }
        header div.logo .logo-img .nav-icon {
          cursor: pointer;
          position: fixed;
          top: 28px;
          right: calc(100% / 12 / 2);
          z-index: 99;
          height: 20px;
          padding-top: 7px; }
          header div.logo .logo-img .nav-icon .m-hamburger {
            border-bottom: 2px solid #fff;
            border-top: 2px solid #fff;
            border-radius: 10px;
            width: 40px;
            padding: 0;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
            header div.logo .logo-img .nav-icon .m-hamburger::after {
              content: " ";
              background-color: #fff;
              border-radius: 10px;
              width: 40px;
              height: 4px;
              position: absolute;
              top: 17px;
              left: 0;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
            header div.logo .logo-img .nav-icon .m-hamburger::before {
              content: " ";
              background-color: #fff;
              border-radius: 10px;
              width: 40px;
              height: 4px;
              position: absolute;
              top: -3px;
              left: 0;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out; }
          header div.logo .logo-img .nav-icon .m-clicked.m-hamburger {
            border-color: transparent; }
          header div.logo .logo-img .nav-icon .m-clicked.m-hamburger::after, header div.logo .logo-img .nav-icon .m-clicked.m-hamburger::before {
            top: 7px !important;
            background-color: #fff; }
          header div.logo .logo-img .nav-icon .m-clicked.m-hamburger::after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          header div.logo .logo-img .nav-icon .m-clicked.m-hamburger::before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
      header div.logo .logo-title {
        display: none; }
    header .menus {
      display: none; }
      header .menus div.primary-menu {
        background-color: #252121;
        border-top: 1px solid #666; }
        header .menus div.primary-menu ul {
          padding: 0; }
          header .menus div.primary-menu ul li {
            float: none;
            width: auto; }
            header .menus div.primary-menu ul li a {
              color: #fff;
              font-size: 11px; }
      header .menus div.language ul {
        padding-left: calc(50% - 80px); } }

section {
  position: relative; }
  section .title {
    font-family: "Fira Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 38%;
    margin-top: -31px;
    text-align: left; }
    section .title.about-title {
      margin-top: -53px; }
    section .title h3 {
      font-family: "Fira Sans", sans-serif;
      color: #fff;
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 2px;
      margin: 0; }
    section .title h2 {
      font-family: "Fira Sans", sans-serif;
      color: #fff;
      font-size: 42px;
      font-weight: 500;
      margin-top: 7px;
      letter-spacing: 3px;
      display: inline-block; }
      section .title h2.f-upper {
        text-transform: uppercase; }
    section .title img {
      height: 44px; }
    section .title.black h3, section .title.black h2 {
      color: #000; }

@media (max-width: 1023px) {
  section .title h3 {
    font-size: 24px;
    letter-spacing: 2px; }
  section .title h2 {
    font-size: 24px;
    letter-spacing: 2px; }
  section .title img {
    height: 25px;
    margin-top: -2px; } }

@media (max-width: 767px) {
  section .title h3 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px; }
  section .title h2 {
    font-size: 20px;
    letter-spacing: 2px; } }

section#news {
  padding: 50px 0; }
  section#news div#news-img img {
    width: 100%; }
  section#news div.text {
    background-color: #d8dee9;
    margin-top: 16px;
    padding: 40px 52px 8px 68px; }
    section#news div.text h4 {
      color: #000;
      font-size: 40px;
      font-family: "Cantata One", serif;
      margin: 0;
      letter-spacing: 1px;
      font-weight: 400;
      padding-top: 20px; }
    section#news div.text p {
      font-family: "Open Sans";
      line-height: 1.5;
      font-size: 16px;
      letter-spacing: 0.8px;
      margin-bottom: 10px;
      margin-top: 23.2px; }
    section#news div.text a {
      display: block;
      text-align: right;
      margin-right: -40px;
      margin-bottom: 5px;
      margin-top: 15px; }
      section#news div.text a img {
        height: 48px; }

@media (max-width: 500px) {
  section#news div.text {
    padding: 26px 26px 10px 26px;
    height: auto; }
    section#news div.text h4 {
      font-size: 25px;
      line-height: 30px; }
    section#news div.text p {
      font-size: 14px; }
    section#news div.text a {
      margin-right: -14px; }
      section#news div.text a img {
        height: 35px;
        margin-bottom: -5px; } }

section.map {
  padding-top: 55px;
  background-color: #000;
  position: relative; }
  section.map .map-contact {
    position: absolute;
    top: 75px;
    z-index: 999;
    width: 100%; }
    section.map .map-contact p, section.map .map-contact p > a {
      margin-bottom: 3px;
      list-style-type: none;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      letter-spacing: 3px;
      line-height: 20px; }
    section.map .map-contact .soc-icons {
      float: right; }
      section.map .map-contact .soc-icons li {
        float: left;
        list-style: none; }
        section.map .map-contact .soc-icons li a {
          color: #fff;
          font-size: 30px;
          margin: 10px; }
  section.map #map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; }

@media (max-width: 767px) {
  section.map {
    padding-top: 30px; }
    section.map .map-contact p, section.map .map-contact p > a {
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 20px; }
    section.map .map-contact .soc-icons {
      float: left !important;
      padding: 0; }
      section.map .map-contact .soc-icons li a {
        margin: 7px 14px 7px 0; }
    section.map #map {
      height: 350px; } }

section#video {
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  overflow: hidden; }
  section#video .hero-video {
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 60px;
    right: 20px;
    z-index: 9999; }
    section#video .hero-video h1 {
      font-family: "Roboto Slab", serif;
      font-weight: 400;
      letter-spacing: 2.5px;
      color: #fff;
      padding-right: 0px;
      font-size: 50px;
      line-height: 68px; }
      @media (max-width: 1023px) {
        section#video .hero-video h1 {
          font-size: 40px;
          line-height: 53px;
          padding-right: 0; } }
      @media (max-width: 590px) {
        section#video .hero-video h1 {
          margin-top: 50px;
          font-size: 22px;
          line-height: 28px; } }
      @media (max-width: 376px) {
        section#video .hero-video h1 {
          top: 50%;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 2.5px; } }
    section#video .hero-video h2 {
      font-family: "Roboto Slab", serif;
      font-size: 36px;
      letter-spacing: 5.8px;
      color: #fff;
      text-transform: none;
      font-weight: 300;
      padding-right: 50px;
      margin-top: 15px;
      line-height: 48px;
      margin-bottom: 0; }
      @media (max-width: 1023px) {
        section#video .hero-video h2 {
          font-size: 23px;
          line-height: 36px; } }
      @media (max-width: 590px) {
        section#video .hero-video h2 {
          font-size: 19px;
          line-height: 1.2;
          margin-top: 5px;
          letter-spacing: 2px; } }
      @media (max-width: 376px) {
        section#video .hero-video h2 {
          font-size: 15px; } }
  section#video .slider-img {
    width: 100%; }
  section#video video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; }

#quet {
  background: url(../img/glass.jpeg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-bottom: 100px; }
  #quet .product-one {
    padding: 0 25px; }
    @media (max-width: 768px) {
      #quet .product-one {
        padding: 0 15px; } }
    @media (max-width: 630px) {
      #quet .product-one {
        width: 100%; } }
    #quet .product-one .details {
      background-color: #d8dee9;
      height: 330px; }
      @media (max-width: 450px) {
        #quet .product-one .details {
          height: 210px; } }
      #quet .product-one .details .vine-img {
        padding: 0 0 0 10px; }
        #quet .product-one .details .vine-img a {
          display: block; }
          #quet .product-one .details .vine-img a img {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            bottom: 180px;
            height: 430px;
            padding-right: 0;
            object-fit: scale-down;
            cursor: pointer; }
            @media (max-width: 450px) {
              #quet .product-one .details .vine-img a img {
                height: 240px;
                bottom: 70px; } }
      #quet .product-one .details .vine-info {
        display: inline-block;
        padding: 34px 10px 0 17px;
        position: relative;
        vertical-align: top;
        padding-top: 30px;
        height: inherit; }
        @media (max-width: 1200px) {
          #quet .product-one .details .vine-info {
            padding: 30px 10px 0 10px; } }
        #quet .product-one .details .vine-info span {
          font-size: 26px;
          padding-bottom: 12px;
          letter-spacing: 1px;
          display: block;
          color: #000;
          font-family: "Cantata One", serif;
          font-weight: 400; }
          @media (max-width: 1200px) {
            #quet .product-one .details .vine-info span {
              font-size: 22px; } }
          @media (max-width: 450px) {
            #quet .product-one .details .vine-info span {
              font-size: 20px; } }
          #quet .product-one .details .vine-info span.pr-type {
            font-size: 19px;
            letter-spacing: 1px; }
            @media (max-width: 450px) {
              #quet .product-one .details .vine-info span.pr-type {
                font-size: 15px; } }
          #quet .product-one .details .vine-info span.pr-q {
            font-size: 20px;
            padding-top: 18px; }
            @media (max-width: 450px) {
              #quet .product-one .details .vine-info span.pr-q {
                font-size: 15px;
                padding-top: 12px; } }
        #quet .product-one .details .vine-info a {
          order: none !important;
          position: absolute !important;
          bottom: 10px;
          width: auto;
          right: 10px;
          padding: 0 !important;
          color: transparent !important;
          left: auto;
          line-height: 0; }
          #quet .product-one .details .vine-info a img {
            height: 50px;
            opacity: 0.5; }
            @media (max-width: 1200px) {
              #quet .product-one .details .vine-info a img {
                height: 40px; } }
          #quet .product-one .details .vine-info a:hover img {
            opacity: 1; }
    #quet .product-one.four-pr {
      padding: 0 15px; }
      @media (max-width: 630px) {
        #quet .product-one.four-pr {
          margin-bottom: -5px !important; } }
      #quet .product-one.four-pr .details {
        height: 255px; }
      #quet .product-one.four-pr .vine-img a {
        margin-left: -10px; }
        #quet .product-one.four-pr .vine-img a img {
          height: 330px;
          bottom: 140px; }
      #quet .product-one.four-pr .vine-info {
        padding: 18px;
        line-height: 29px;
        padding-left: 0; }
        #quet .product-one.four-pr .vine-info span {
          font-size: 20px; }
          #quet .product-one.four-pr .vine-info span.pr-type {
            font-size: 15px;
            margin-top: 3px;
            line-height: 20px; }
          #quet .product-one.four-pr .vine-info span.pr-q {
            font-size: 15px;
            padding-top: 1px; }
        #quet .product-one.four-pr .vine-info a {
          right: 10px; }
          #quet .product-one.four-pr .vine-info a img {
            height: 40px;
            width: auto; }
  @media (max-width: 1200px) {
    #quet {
      padding-bottom: 0; } }
  @media (max-width: 1024px) {
    #quet {
      background-attachment: fixed;
      background-size: cover !important;
      background-position: left center; } }
  #quet .center-title {
    width: 50%;
    margin: auto;
    font-size: 19px;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-family: "Book Antiqua"; }
    @media (max-width: 767px) {
      #quet .center-title {
        font-size: 16px;
        width: 80%; } }
  #quet img.template-logo {
    width: 170px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px; }
    @media (max-width: 1200px) {
      #quet img.template-logo {
        padding-top: 25px; } }
  #quet .offset {
    height: 198px; }
    @media (max-width: 450px) {
      #quet .offset {
        height: 80px; } }

#single-product {
  padding-top: 50px;
  background: url(../img/pologa-quet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  padding-bottom: 100px; }
  @media (max-width: 1024px) {
    #single-product {
      background-attachment: fixed;
      background-position: left center; } }
  #single-product .product-details img {
    width: 100%; }
  #single-product .product-details .details-featured {
    height: 914px;
    background-color: #d8dee9;
    font-family: "Cantata One", serif;
    position: relative; }
    @media (max-width: 1200px) {
      #single-product .product-details .details-featured {
        height: 494px;
        margin-top: 22px;
        padding-top: 30px; } }
    #single-product .product-details .details-featured .details-wrap {
      position: absolute;
      top: 42%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 15px 0 15px;
      padding-top: 125px;
      font-family: "Cantata One", serif; }
      #single-product .product-details .details-featured .details-wrap h1 {
        margin-top: -15px;
        font-family: "Cantata One", serif;
        font-size: 28px;
        font-weight: 700;
        margin-top: -15px;
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 35px; }
      #single-product .product-details .details-featured .details-wrap h2 {
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 34px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 20px; }
      #single-product .product-details .details-featured .details-wrap p {
        margin: 0 0 5px;
        color: #000;
        line-height: 25px;
        font-size: 14px; }
      #single-product .product-details .details-featured .details-wrap span {
        font-weight: 700;
        font-size: 20px;
        margin-top: 80px;
        display: block; }
    #single-product .product-details .details-featured .social {
      position: absolute;
      bottom: 45px;
      left: 0;
      right: 0;
      text-align: center;
      padding: 12px 0; }
      #single-product .product-details .details-featured .social a {
        margin: 0 4px;
        color: #000; }
        #single-product .product-details .details-featured .social a i {
          font-size: 30px; }
      #single-product .product-details .details-featured .social.blog {
        bottom: inherit;
        text-align: inherit; }
        #single-product .product-details .details-featured .social.blog a i {
          font-size: 3em; }
  #single-product .product-one {
    padding: 0 25px; }
    @media (max-width: 768px) {
      #single-product .product-one {
        padding: 0 15px; } }
    @media (max-width: 630px) {
      #single-product .product-one {
        width: 100%; } }
    #single-product .product-one .details {
      background-color: #d8dee9;
      height: 330px; }
      @media (max-width: 450px) {
        #single-product .product-one .details {
          height: 210px; } }
      #single-product .product-one .details .vine-img {
        padding: 0 0 0 10px; }
        #single-product .product-one .details .vine-img a {
          display: block; }
          #single-product .product-one .details .vine-img a img {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            bottom: 180px;
            height: 430px;
            padding-right: 0;
            object-fit: scale-down;
            cursor: pointer; }
            @media (max-width: 450px) {
              #single-product .product-one .details .vine-img a img {
                height: 240px;
                bottom: 70px; } }
      #single-product .product-one .details .vine-info {
        display: inline-block;
        padding: 34px 10px 0 17px;
        position: relative;
        vertical-align: top;
        padding-top: 30px;
        height: inherit; }
        @media (max-width: 1200px) {
          #single-product .product-one .details .vine-info {
            padding: 30px 10px 0 10px; } }
        #single-product .product-one .details .vine-info span {
          font-size: 26px;
          padding-bottom: 12px;
          letter-spacing: 1px;
          display: block;
          color: #000;
          font-family: "Cantata One", serif;
          font-weight: 400; }
          @media (max-width: 1200px) {
            #single-product .product-one .details .vine-info span {
              font-size: 22px; } }
          @media (max-width: 450px) {
            #single-product .product-one .details .vine-info span {
              font-size: 20px; } }
          #single-product .product-one .details .vine-info span.pr-type {
            font-size: 19px;
            letter-spacing: 1px; }
            @media (max-width: 450px) {
              #single-product .product-one .details .vine-info span.pr-type {
                font-size: 15px; } }
          #single-product .product-one .details .vine-info span.pr-q {
            font-size: 20px;
            padding-top: 18px; }
            @media (max-width: 450px) {
              #single-product .product-one .details .vine-info span.pr-q {
                font-size: 15px;
                padding-top: 12px; } }
        #single-product .product-one .details .vine-info a {
          order: none !important;
          position: absolute !important;
          bottom: 10px;
          width: auto;
          right: 10px;
          padding: 0 !important;
          color: transparent !important;
          left: auto;
          line-height: 0; }
          #single-product .product-one .details .vine-info a img {
            height: 50px;
            opacity: 0.5; }
            @media (max-width: 1200px) {
              #single-product .product-one .details .vine-info a img {
                height: 40px; } }
          #single-product .product-one .details .vine-info a:hover img {
            opacity: 1; }
    #single-product .product-one.four-pr {
      padding: 0 15px; }
      @media (max-width: 630px) {
        #single-product .product-one.four-pr {
          margin-bottom: -5px !important; } }
      #single-product .product-one.four-pr .details {
        height: 255px; }
      #single-product .product-one.four-pr .vine-img a {
        margin-left: -10px; }
        #single-product .product-one.four-pr .vine-img a img {
          height: 330px;
          bottom: 140px; }
      #single-product .product-one.four-pr .vine-info {
        padding: 18px;
        line-height: 29px;
        padding-left: 0; }
        #single-product .product-one.four-pr .vine-info span {
          font-size: 20px; }
          #single-product .product-one.four-pr .vine-info span.pr-type {
            font-size: 15px;
            margin-top: 3px;
            line-height: 20px; }
          #single-product .product-one.four-pr .vine-info span.pr-q {
            font-size: 15px;
            padding-top: 1px; }
        #single-product .product-one.four-pr .vine-info a {
          right: 10px; }
          #single-product .product-one.four-pr .vine-info a img {
            height: 40px;
            width: auto; }
  #single-product .offset {
    height: 198px; }

.cover-wrap {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 28%; }

#flat {
  width: 100%; }

.flat-wrap {
  width: 100%;
  height: calc(100vh - 318px);
  overflow: hidden;
  position: relative; }
  @media (max-width: 1024px) {
    .flat-wrap {
      height: calc(100vh); } }
  @media (max-width: 450px) {
    .flat-wrap {
      height: calc(100vh - 78px); } }

.cover {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #bdb796;
  z-index: 99999; }

.cover i, .cover p {
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: white; }

.cover i {
  color: #3f5540; }

.blog-page {
  padding-bottom: 100px; }
  .blog-page h1 {
    font-family: "Cantata One", serif;
    font-weight: 400;
    font-size: 37px;
    letter-spacing: 1.5px;
    padding: 30px 0px 0px 0px;
    margin-bottom: 0px; }
  .blog-page span.date {
    color: #7a7a7a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px; }
  .blog-page .news-single-txt {
    letter-spacing: 1.6px;
    padding-top: 20px;
    padding-bottom: 60px; }
  .blog-page .social {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 12px 0; }
    .blog-page .social a {
      margin: 0 4px;
      color: #000; }
      .blog-page .social a i {
        font-size: 30px; }
    .blog-page .social.blog {
      bottom: inherit;
      text-align: inherit; }
      .blog-page .social.blog a i {
        font-size: 3em; }

#contact img {
  width: 100%; }

#contact .txt {
  padding-top: 60px;
  padding-bottom: 200px;
  text-align: justify;
  overflow: hidden; }
  #contact .txt hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d8dee9; }
  #contact .txt .col-md-12 p {
    text-align: center; }
  #contact .txt .col-md-6:first-child p {
    text-align: left; }
    @media (max-width: 1200px) {
      #contact .txt .col-md-6:first-child p {
        text-align: center; } }
  #contact .txt .col-md-6:nth-child(2) p {
    text-align: right; }
    @media (max-width: 1200px) {
      #contact .txt .col-md-6:nth-child(2) p {
        text-align: center; } }

#contact p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans";
  color: #000;
  letter-spacing: 0.92px; }

#contact .txt-about {
  padding-top: 50px;
  text-align: justify;
  overflow: hidden; }

#contact .txt-img img:nth-child(1) {
  margin-top: 250px;
  margin-bottom: 205px;
  float: right;
  width: 100%;
  height: auto; }

#contact .txt-img img:nth-child(3) {
  margin-top: 78px;
  margin-bottom: 143px;
  width: 100%;
  height: auto; }

hr {
  border: solid 1px #726f6f;
  padding-bottom: 0;
  margin-bottom: 5px; }

@media (max-width: 1200px) {
  main {
    padding-top: 78px; } }

section div img.full-img {
  width: 100%; }

section.black-space-top {
  padding-top: 55px;
  background-color: #000; }
  @media (max-width: 767px) {
    section.black-space-top {
      padding-top: 30px; } }

section.black-space-bottom {
  padding-bottom: 55px;
  background-color: #000; }
  @media (max-width: 767px) {
    section.black-space-bottom {
      padding-bottom: 30px; } }
