section#news{
  padding: 50px 0;
  div#news-img{
    img{
      width: 100%;
    }
  }
  div.text{
    background-color: $light-grey;
    margin-top: 16px;
    padding: 40px 52px 8px 68px;
    h4{
      color: $black-color;
      font-size: 40px;
      font-family:$cantana-font ;
      margin: 0;
      letter-spacing: 1px;
      font-weight: 400;
      padding-top: 20px;
    }
    p{
      font-family: $open-font;
      line-height: 1.5;
      font-size: 16px;
      letter-spacing: 0.8px;
      margin-bottom: 10px;
      margin-top: 23.2px
    }
    img{
      height: 48px;
      float: right;
    }
  }
}