#quet{
  background: url(../img/glass.jpeg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-bottom: 100px;
  @import 'product';
  @media (max-width: 1200px){
    padding-bottom: 0;
  }
  @media (max-width:1024px){
    background-attachment: fixed;
    background-size: cover !important;
    background-position: left center;
  }
}
