.social {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0;
  a {
    margin: 0 4px;
    color: $black-color;
    i {
      font-size: 30px;
    }
  }
  &.blog{
    bottom: inherit;
    text-align: inherit;
    a{
      i{
        font-size: 3em;
      }
    }
  }
}