section{
  position: relative;
  .title{
    font-family: $fira-font;
    position: absolute;
    top: 50%;
    left: 38%;
    margin-top: -54px;
    text-align: left;
    h3{
      font-family: $fira-font;
      color:$whitecolor;
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 2px;
      margin:0;
    }
    h2{
      font-family: $fira-font;
      color:$whitecolor;
      font-size: 42px;
      font-weight: 500;
      margin-top: 7px;
      letter-spacing: 3px;
      display: inline-block;
      &.f-upper{
        text-transform: uppercase;
      }
    }

    img{
      height: 44px;

    }
    &.black{
      h3, h2{
        color:$black-color;
      }

    }
  }
}
@media (max-width: 1023px){
  section{
    .title{
      h3{
        font-size: 24px;
        letter-spacing: 2px;
      }
      h2{
        font-size: 24px;
        letter-spacing: 2px;
      }
      img{
        height: 25px;
        margin-top: -2px;
      }
    }
  }
}
@media (max-width: 767px){
  section{
    .title{
      h3{
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1px;
      }
      h2{
        font-size: 20px;
        letter-spacing: 2px;
      }
    }
  }
}

