section#video{
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    overflow: hidden;
    @media (max-width: 1228px) {
      height: 60vh;
    }
    .hero-video{
      text-align: left;
      position: absolute;
      bottom: 100px;
      left: 60px;
      right: 20px;
      z-index: 9999;
      h1{
        font-family: $robotoslab-font;
        font-weight: 400;
        letter-spacing: 2.5px;
        color: $whitecolor;
        padding-right: 0px;
        font-size: 50px;
        line-height: 68px;
        @media (max-width:1023px){
          font-size: 40px;
          line-height: 53px;
          padding-right: 0;
        }
        @media (max-width: 590px){
          margin-top: 50px;
          font-size: 22px;
          line-height: 28px;
        }
        @media (max-width: 376px){
          top: 50%;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 2.5px;
        }
      }
      h2{
        font-family: $robotoslab-font;
        font-size: 36px;
        letter-spacing: 5.8px;
        color: $whitecolor;
        text-transform: none;
        font-weight: 300;
        padding-right: 50px;
        margin-top: 15px;
        line-height: 48px;
        margin-bottom: 0;
        @media (max-width: 1023px){
          font-size: 23px;
          line-height: 36px;
        }
        @media (max-width: 590px){
          font-size: 19px;
          line-height: 1.2;
          margin-top: 5px;
          letter-spacing: 2px;
        }
        @media (max-width: 376px){
          font-size: 15px;
        }
      }
    }
    .slider-img{
      width: 100%;
    }
    video{
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;

    }
  }

  //div.video{
  //  position: relative;
  //  background-size: cover;
  //  background-position: 50% 50%;
  //  height: 100vh;
  //  video{
  //    webkit-transform: translateX(-50%) translateY(-50%);
  //    -moz-transform: translateX(-50%) translateY(-50%);
  //    -ms-transform: translateX(-50%) translateY(-50%);
  //    -o-transform: translateX(-50%) translateY(-50%);
  //    transform: translateX(-50%) translateY(-50%);
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    min-width: 100%;
  //    min-height: 100%;
  //    width: auto;
  //    height: auto;
  //    z-index: -100;
  //    display: inline-block;
  //    vertical-align: baseline;
  //  }
  //
  //}
