
$whitecolor: #fff;
$black-color:#000;
$light-grey: #d8dee9;
$grey: #666;
$dark-grey:#252121;

$fira-font:'Fira Sans', sans-serif;
$cantana-font:"Cantata One", serif;
$open-font:'Open Sans';
$robotoslab-font: 'Roboto Slab', serif;
$roboto-font:'Roboto', sans-serif;

@import 'menu';
@import 'title';
@import 'news';
@import 'map';
@import 'video';



section{
  div{
    img.full-img{
      width:100%;
    }
  }
  &.black-space{
    padding-bottom: 55px;
    background-color:$black-color;
    @media (max-width: 767px){
      padding-bottom: 30px;
    }
  }
}
